:host {
  position: fixed; // or absolute
  inset: 0;
  display: block;
}

.auth-page {
  --first-color: #14b8a6; // from-brand-teal
  --second-color: #a855f7; // via-brand-purple
  --third-color: #ff6b6b; // to-brand-coral
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--first-color),
    var(--second-color),
    var(--third-color)
  );
}
