<div class="register-component">
  <div class="main-section shadow-amber-50">
    <span class="top-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-liEnter
        your
        credentials
        to
        access
        your
        dashboardnejoin="round"
        class="lucide lucide-building2 lucide-building-2 text-white h-8 w-8"
        aria-hidden="true"
        data-id="element-101"
      >
        <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"></path>
        <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"></path>
        <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"></path>
        <path d="M10 6h4"></path>
        <path d="M10 10h4"></path>
        <path d="M10 14h4"></path>
        <path d="M10 18h4"></path>
      </svg>
    </span>
    <section class="top-section-text">
      <h1>Welcome to SimSim!</h1>
      <span>Enter your credentials to access your dashboard</span>
    </section>
  </div>
</div>
