header {
  background: #ffffff;
  display: flex;
  width: 100%;
  align-items: center;
}

form {
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
  }

  .search-group {
    background: #f5f5f5;
    padding: 8px 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    display: flex;
    gap: 10px;
    align-items: center;

    &:focus-within {
      border: 2px solid #3b82f6;
      box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
    }
  }
  .search-icon {
    color: #9ca3af;
  }
}
.bell-container {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
  .red-dot {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}
