<header>
  <div class="flex justify-between w-full ml-5 py-4 items-center">
    <form class="w-full">
      <div class="search-group">
        <span class="search-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            aria-hidden="true"
            data-id="element-16"
          >
            <path d="m21 21-4.34-4.34"></path>
            <circle cx="11" cy="11" r="8"></circle>
          </svg>
        </span>
        <input type="text" id="search" name="search" placeholder="Search properties, tenants..." />
      </div>
    </form>
    <div class="bell-container">
      <span class="bell-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-bell h-5 w-5"
          aria-hidden="true"
          data-id="element-20"
        >
          <path d="M10.268 21a2 2 0 0 0 3.464 0"></path>
          <path
            d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"
          ></path>
        </svg>
      </span>
      <span
        class="red-dot h-2 w-2 bg-red-500 rounded-full border-2 border-white"
        data-id="element-21"
      ></span>
    </div>
  </div>

  <div class="h-8 w-px bg-gray-200 mx-5" data-id="element-22"></div>

  <section class="account-info flex items-center gap-4 mr-5">
    <div class="flex flex-col items-end">
      <span class="whitespace-nowrap text-black font-semibold">Thomas Anderson</span>
      <span class="whitespace-nowrap text-black font-light text-sm">Senior Broker</span>
    </div>
    <div>
      <div
        class="h-9 w-9 bg-blue-100 rounded-full flex items-center justify-center border border-blue-200 text-blue-700"
        data-id="element-27"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-user h-5 w-5"
          aria-hidden="true"
          data-id="element-28"
        >
          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
      </div>
    </div>
  </section>
</header>
