.sidebar-component {
  --sidebar-width: 250px;
  --sidebar-bg-color: #1f2937; // gray-800
  --sidebar-font-color: #f3f4f6; // gray-100
  --sidebar-hover-bg-color: #374151; // gray-700
  --sidebar-active-bg-color: #4b5563; // gray-600
  --space-y: 1.25rem;
  > :not(.seperator, .bottom-seperator) {
    padding: var(--space-y);
  }
  background-color: var(--sidebar-bg-color);
  width: max-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  color: var(--sidebar-font-color);
  gap: 0.5rem;
  align-items: center;
}

.seperator {
  position: relative;
}

.bottom-line {
  position: absolute;
  width: 100%;
  border-bottom: #f3f4f62e 1px solid;
}
ul {
  color: var(--sidebar-font-color);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-y);
  li {
    width: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.4rem;
  }
  li:hover:not(.active) {
    background-color: var(--sidebar-hover-bg-color);
    color: #fff;
  }
  .active {
    background-color: #155dfc;
    color: #fff;
  }
}
h2 {
  color: var(--sidebar-font-color);
}
.sign-out > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--sidebar-font-color);
  cursor: pointer;
  border-radius: 0.4rem;
  width: 200px;
  min-width: 200px;
  &:hover {
    background-color: var(--sidebar-hover-bg-color);
    color: #fff;
  }
}

.bottom-seperator {
  margin-top: auto;
}

// .sign-out {
//   margin-top: auto;
// }
