.mobile-camera-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .screen {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.buttons {
  position: absolute;
  bottom: 100px;
}
.blur-bakcground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 5;
}
.previews {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow-x: auto;
  z-index: 10;
}
.capture-button {
  width: 70px;
  height: 70px;
  background-color: rgba(64, 64, 225, 0.7);
  border: 4px solid rgb(61, 233, 61);
  border-radius: 50%;
  cursor: pointer;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
