<div class="add-property-component">
  <header class="border-b border-gray-300">
    @if (!isEditingProperty) {
      <div class="flex justify-between p-6 items-center">
        <div>
          <h1 class="text-xl font-bold">Add New Property {{ propertyForm.value.id }}</h1>
          <span class="text-sm text-gray-500">
            @if (steps === 1) {
              Upload property photos
            } @else if (steps === 2) {
              Fill in property details
            }
          </span>
        </div>
        <div class="steps flex items-center gap-2 mr-12">
          @if (steps === 1) {
            <span
              class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-600 text-white text-sm"
              [ngClass]="{
                'bg-blue-600 text-white': steps == 1,
                'bg-gray-300 text-gray-500': steps != 1,
              }"
            >
              1
            </span>
          } @else if (steps > 1) {
            <span
              class="flex items-center justify-center w-8 h-8 rounded-full text-sm font-medium bg-green-600 text-white"
              data-id="element-17"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check h-4 w-4"
                aria-hidden="true"
                data-id="element-18"
              >
                <path d="M20 6 9 17l-5-5"></path>
              </svg>
            </span>
          }
          <span class="w-12 h-0.5 bg-gray-300"></span>
          <span
            class="flex items-center justify-center w-8 h-8 rounded-full bg-blue-600 text-white text-sm"
            [ngClass]="{
              'bg-blue-600 text-white': steps == 2,
              'bg-gray-300 text-gray-500': steps != 2,
            }"
          >
            2
          </span>
        </div>
      </div>
    } @else {
      <div class="flex justify-between p-6 items-center">
        <h1 class="text-xl font-bold">
          Edit Property <span class="text-blue-500">{{ propertyForm.value.title }}</span> with ID:
          {{ propertyForm.value.id }}
        </h1>
      </div>
    }
  </header>
  <main class="flex justify-center bg-white flex-col items-center p-6 gap-6">
    @if (steps === 1) {
      <div>
        <div class="text-center">
          <div class="font-semibold">Add Property Photos</div>
          <span class="text-sm text-gray-500">
            Choose how you'd like to upload photos of your property
          </span>
        </div>
        @if (selectMethod === '') {
          <app-select-method (changeMethod)="changeMethod($event)"></app-select-method>
        } @else if (selectMethod == 'computer') {
          <app-upload-from-computer
            (changeMethod)="changeMethod('')"
            (disableContinueDetails)="disableContinueDetails()"
          ></app-upload-from-computer>
        } @else if (selectMethod == 'mobile') {
          <app-upload-from-mobile
            (changeMethod)="changeMethod('')"
            (disableContinueDetails)="disableContinueDetails()"
          ></app-upload-from-mobile>
        }
        @if (
          editingProperty()?.medias && editingProperty()?.medias!.length > 0 && selectMethod === ''
        ) {
          <div class="my-6">
            <app-uploaded-files></app-uploaded-files>
          </div>
        }
      </div>
    } @else if (steps === 2) {
      <div class="w-full">
        <form [formGroup]="propertyForm">
          <div class="inline-flex w-1/3 mb-4">
            @for (type of offerTypes; track $index) {
              <button
                class="capitalize px-3 py-2 border rounded-md border-blue-400 text-sm cursor-pointer hover:bg-blue-500 hover:text-white transition-colors mr-3"
                [ngClass]="{
                  'bg-blue-600 text-white': propertyForm.get('offerType')?.value === type,
                  'bg-white text-gray-700': propertyForm.get('offerType')?.value !== type,
                }"
                (click)="propertyForm.get('offerType')?.setValue(type)"
              >
                {{ common.formatEnum(type) }}
              </button>
            }
          </div>
          <div class="inline-flex justify-end mt-4 w-2/3">
            @for (category of categories; track $index) {
              <button
                class="capitalize px-3 py-2 border rounded-md border-blue-400 text-sm cursor-pointer hover:bg-blue-500 hover:text-white transition-colors mr-3"
                [ngClass]="{
                  'bg-blue-600 text-white': propertyForm.get('category')?.value === category,
                  'bg-white text-gray-700': propertyForm.get('category')?.value !== category,
                }"
                (click)="propertyForm.get('category')?.setValue(category)"
              >
                {{ common.formatEnum(category) }}
              </button>
            }
          </div>
          <div class="basic-info">
            <h6 class="text-left text-lg font-semibold">Basic Information</h6>
            <div class="flex flex-col mt-4">
              <label class="mb-1" for="title">Property Title </label>
              <input
                class="px-3 py-2 border text-sm shadow-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                type="text"
                id="title"
                placeholder="e.g, Spacious 2 Bedroom Apartment in Downtown"
                formControlName="title"
              />
            </div>
            <div class="mt-4">
              <div class="flex w-full mt-4 gap-5">
                <div class="flex flex-col w-1/3">
                  <label class="mb-1" for="number-of-rooms">Number of rooms </label>
                  <input
                    class="px-3 py-2 border text-sm shadow-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    type="text"
                    id="number-of-rooms"
                    placeholder="e.g, 3"
                    formControlName="numberOfRooms"
                    onlyNumbers
                  />
                </div>
                <div class="flex flex-col w-1/3">
                  <label class="mb-1" for="price">Price </label>
                  <input
                    class="px-3 py-2 border text-sm shadow-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    type="text"
                    id="price"
                    placeholder="e.g, 100000"
                    formControlName="price"
                    moneyFormat
                  />
                </div>
                <div class="flex flex-col w-1/3">
                  <label class="mb-1" for="area">Area </label>
                  <input
                    class="px-3 py-2 border text-sm shadow-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    type="text"
                    id="area"
                    placeholder="e.g, 1200 sqft"
                    formControlName="area"
                    areaFormat
                  />
                </div>
              </div>
              <div class="flex w-full mt-4 gap-5">
                <div class="flex flex-wrap w-2/3">
                  <label class="mb-1 w-full" for="floor">Floor </label>
                  @for (num of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
                    <button
                      class="capitalize px-3 py-2 border text-nowrap rounded-md border-blue-400 text-sm cursor-pointer hover:bg-blue-500 hover:text-white transition-colors mr-3"
                      [ngClass]="{
                        'bg-blue-600 text-white': propertyForm.get('floor')?.value === num,
                        'bg-white text-gray-700': propertyForm.get('floor')?.value !== num,
                      }"
                      (click)="propertyForm.get('floor')?.setValue(num)"
                    >
                      {{ num === 10 ? '10+' : num }}
                    </button>
                  }
                </div>
                <div class="flex flex-col w-1/3">
                  <label class="mb-1" for="total-floors">Total Floors </label>
                  <input
                    class="px-3 py-2 border text-sm shadow-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    type="text"
                    id="total-floors"
                    placeholder="e.g, 10"
                    formControlName="totalFloors"
                    onlyNumbers
                  />
                </div>
              </div>
            </div>
            <div class="flex flex-col mt-4">
              <label for="description" class="mb-2">Description</label>
              <textarea
                class="px-3 py-2 border text-sm shadow-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                id="description"
                placeholder="Provide a detailed description of the property"
                formControlName="description"
                rows="4"
              ></textarea>
            </div>
          </div>
          <div class="flex mt-4 w-full items-center gap-5 overflow-hidden">
            <label for="description">Type: </label>
            <div class="flex items-center overflow-x-scroll py-2">
              @for (type of types; track $index) {
                <button
                  class="capitalize px-3 py-2 border text-nowrap rounded-md border-blue-400 text-sm cursor-pointer hover:bg-blue-500 hover:text-white transition-colors mr-3"
                  [ngClass]="{
                    'bg-blue-600 text-white': propertyForm.get('type')?.value === type,
                    'bg-white text-gray-700': propertyForm.get('type')?.value !== type,
                  }"
                  (click)="propertyForm.get('type')?.setValue(type)"
                >
                  {{ common.formatEnum(type) }}
                </button>
              }
            </div>
          </div>
          <div formGroupName="location" class="type mt-5">
            <h6 class="text-left text-lg font-semibold">Location</h6>
            <div class="flex gap-5">
              <div class="flex flex-col mt-4 w-1/2">
                <label class="mb-1" for="country">Country</label>
                <select
                  name="country"
                  class="block rounded-md border-gray-300 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm border px-3 py-2"
                  formControlName="country"
                >
                  <option value="Uzbekistan" selected="true">Uzbekistan</option>
                </select>
              </div>
              <div class="flex flex-col mt-4 w-1/2">
                <label class="mb-1" for="region">Region</label>
                <select
                  name="region"
                  class="block rounded-md border-gray-300 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm border px-3 py-2"
                  formControlName="region_id"
                  (change)="fetchDistricts($event)"
                >
                  @for (region of regions; track $index) {
                    <option [value]="region.id">
                      {{ region.name_en }}
                    </option>
                  }
                </select>
              </div>
            </div>
            <div class="flex gap-5">
              <div class="flex flex-col mt-4 w-1/2">
                <label class="mb-1" for="district">District</label>
                <select
                  name="district"
                  class="block rounded-md border-gray-300 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm border px-3 py-2"
                  formControlName="district_id"
                  (change)="fetchPlaces($event)"
                >
                  @for (district of districts.list; track $index) {
                    <option (click)="fetchPlaces(district.id)" value="{{ district.id }}">
                      {{ district.name_en }}
                    </option>
                  }
                </select>
              </div>
              <div class="flex flex-col mt-4 w-1/2">
                <label class="mb-1" for="city">Place</label>
                <select
                  name="city"
                  class="block rounded-md border-gray-300 shadow-sm focus:border-blue-600 focus:ring-blue-600 sm:text-sm border px-3 py-2"
                  formControlName="place_id"
                >
                  @for (place of places.list; track $index) {
                    <option value="{{ place.id }}">{{ place.name_en }}</option>
                  }
                </select>
              </div>
            </div>
            <div class="flex flex-col mt-4">
              <label for="address" class="mb-2">Address</label>
              <input
                type="text"
                class="px-3 py-2 border text-sm shadow-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                id="address"
                formControlName="address"
                placeholder="Provide a detailed address of the property"
              />
            </div>
            <app-yandex-map [address]="getFullAddresForMap()"> </app-yandex-map>
          </div>
          <div class="type mt-5" formGroupName="amenities">
            <h6 class="text-left text-lg font-semibold">Amenities</h6>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-3 mt-3" data-id="element-121">
              @for (amenity of amenities; track $index) {
                <label class="flex items-center gap-2 cursor-pointer group" data-id="element-122">
                  <input
                    type="checkbox"
                    class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 cursor-pointer"
                    data-id="element-123"
                    [checked]="propertyForm.get('amenities')?.value[amenity.key]"
                    formControlName="{{ amenity.key }}"
                  />
                  <span
                    class="text-sm text-gray-700 group-hover:text-gray-900"
                    data-id="element-124"
                  >
                    {{ amenity.label }}
                  </span>
                </label>
              }
            </div>
          </div>
          <div class="flex justify-between">
            <div class="inline-flex mt-4 w-1/2">
              @for (status of listingStatuses; track $index) {
                <button
                  class="capitalize px-3 py-2 border rounded-md border-blue-400 text-sm cursor-pointer hover:bg-blue-500 hover:text-white transition-colors mr-3"
                  [ngClass]="{
                    'bg-blue-600 text-white': propertyForm.get('listingStatus')?.value === status,
                    'bg-white text-gray-700': propertyForm.get('listingStatus')?.value !== status,
                  }"
                  (click)="propertyForm.get('listingStatus')?.setValue(status)"
                >
                  {{ common.formatEnum(status) }}
                </button>
              }
            </div>
            <div class="inline-flex justify-end mt-4 w-1/2">
              @for (status of filteredOccupancyStatuses; track $index) {
                <button
                  class="capitalize px-3 py-2 border rounded-md border-blue-400 text-sm cursor-pointer hover:bg-blue-500 hover:text-white transition-colors mr-3"
                  [ngClass]="{
                    'bg-blue-600 text-white': propertyForm.get('occupancyStatus')?.value === status,
                    'bg-white text-gray-700': propertyForm.get('occupancyStatus')?.value !== status,
                  }"
                  (click)="propertyForm.get('occupancyStatus')?.setValue(status)"
                >
                  {{ common.formatEnum(status) }}
                </button>
              }
            </div>
          </div>
        </form>
      </div>
    }
  </main>

  <footer class="border-t border-gray-300 p-6">
    @if (steps === 1) {
      <div class="flex justify-between">
        <button
          class="px-3 py-2 border rounded-md border-gray-300 text-sm cursor-pointer hover:bg-gray-200 transition-colors"
          (click)="closeModal.emit()"
        >
          Cancel
        </button>
        <button
          class="flex items-center gap-2 px-3 py-2 rounded-md bg-blue-600 shadow-sm text-white text-sm cursor-pointer"
          [disabled]="continueDetailsDisabled && !editingProperty()"
          (click)="nextStep()"
        >
          Continue to Details
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-right h-4 w-4"
              aria-hidden="true"
              data-id="element-128"
            >
              <path d="M5 12h14"></path>
              <path d="m12 5 7 7-7 7"></path>
            </svg>
          </span>
        </button>
      </div>
    } @else if (steps === 2) {
      <div class="flex justify-between">
        <button
          class="px-3 py-2 border flex gap-3 rounded-md border-gray-300 text-sm cursor-pointer hover:bg-gray-200 transition-colors"
          (click)="previousStep()"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-left h-4 w-4"
              aria-hidden="true"
              data-id="element-130"
            >
              <path d="m12 19-7-7 7-7"></path>
              <path d="M19 12H5"></path>
            </svg>
          </span>
          Back to Photos
        </button>
        <div class="flex gap-2">
          <button
            class="px-3 py-2 border rounded-md border-gray-300 text-sm cursor-pointer hover:bg-gray-200 transition-colors"
            (click)="uploadProperty('draft')"
          >
            Save as Draft
          </button>

          <button
            class="px-3 py-2 border rounded-md bg-blue-600 shadow-sm text-white text-sm cursor-pointer hover:bg-blue-700 transition-colors"
            (click)="uploadProperty('publish')"
          >
            Publish Property
          </button>
        </div>
      </div>
    }
  </footer>
</div>
