.analytics-page {
  --space-x: 3rem;
  --border-radius: 0.75rem;
  padding: 0 3rem;
  padding-bottom: 3rem;
  max-width: 1600px;
  margin: auto;
}

.title {
  margin-block: var(--space-x);
  button {
    outline: none;
    border-radius: 5px;
    height: max-content;
    cursor: pointer;
  }
}

.analytics-table {
  background: #ffffff;
  border-radius: var(--border-radius);
  margin-top: 2rem;
  table {
    th,
    tbody td {
      padding: 20px;
    }
    th {
      background: #f5f5f5;
      text-transform: uppercase;
    }
  }
}
